<div class="body" style="background-image: url(<%= baseUrl %>/img/bg-top.png), url(<%= baseUrl %>/img/bg-bottom.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>You have received a reply</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%= messageReply %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-primary btn-block" href="<%= baseUrl %>">Go to my SohoMuse profile</a>
            </div>
        </div>
    </div>
</div>