<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="subject">Username recovery</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 content">
				<p>A username recovery request has been made for your account.</p>
        
        <p>Your username is: <strong><%= user.username %></strong></p>
				
				<p><a class="btn btn-primary" href="<%= baseUrl %>">Log in</a></p>
        
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p class="footer">
					&copy; Copyright SohoMuse INC
				</p>
			</div>
		</div>
	</div>
	<img src="<%= baseUrl %>/img/s-email.png" class="logo-img">
</div>
