<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SohoMuse</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/js/business_card/style.css">
        <style>
            body {
                background: #fff;
                font-size: 135%;
            }
        </style>
    </head>
    <body>

    <div class="bcard">
        <% include ./../public/js/business_card/BusinessCardView.html %>
    </div>

    </body>
</html>